html {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    letter-spacing: 0.8px;
    min-height: 100vh;
    color: #d8e9ef;
    background-image: linear-gradient(-20deg, #025159 0%, #733b36 100%);
    background-size: cover;
}

h1 {
    margin: 0 auto 10px auto;
    color: #d8e9ef;
}
  
p {
    margin: 0;
}
  
.app-message {
    height: 20px;
    margin: 10px auto 20px auto;
    padding: 0 0 20px 0;
    width: 150px
}
  
.app-container {
    width: 250px;
    height: 420px;
    margin: 15% auto;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
    border: white solid 2px;
    border-radius: 25px;
}

.app-circle {
    position: relative;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}
  
.circle-shape {
    pointer-events: none;
}

.semi-circle {
    position: absolute;
    width: 100px;
    height: 200px;
    box-sizing: border-box;
    border: solid 6px;
}
  
.left-side {
    top: 0;
    left: 0;
    transform-origin: right center;
    transform: rotate(0deg);
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-right: none;
    z-index: 1;
}
  
.right-side {
    top: 0;
    left: 100px;
    transform-origin: left center;
    transform: rotate(0deg);
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-left: none;
}

.circle {
    border-color: #bf5239;
}
  
.circle-mask {
    border-color: #e85a71;
}  

.app-counter-box {
    font-family: 'Droid Sans Mono', monospace;
    font-size: 250%;
    position: relative;
    top: 50px;
    color: #d8e9ef;
}
  
button {
    position: relative;
    top: 50px;
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    background: none;
    outline: none;
    color: #d8e9ef;
}
  
button:hover {
    color: #90c0d1;
}

.time-chooser {
    margin: 10px auto;
    width: 250px;
}

#time-select-text {
    font-size: 90%;
    color: #d8e9ef;
}

.app-counter-box > p {
    display: inline-block;
    margin-top: 10px;
}

#inputedTime {
    margin-top: 10px;
}

.site-header {
    background-color: #1f2937; /* dark gray/navy */
    color: white;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
  
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.name {
    font-size: 24px;
    font-weight: bold;
    margin: 0px 50px 0 0;
}
  
.nav > a {
    color: #d1d5db;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s;
}

a:hover {
    color: #90c0d1;
}